/*╔═══════════════╗
        RESET
  ╚═══════════════╝*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--- TESTO ---*/

body{
    color: var(--colore-testo-opaco);
    font-family: 'Montserrat', sans-serif;
}


p{
    font-size: 1rem;
}
small{
    font-size: 0.6rem;
}

/*--- TAG ---*/
a{
    color: inherit;
    text-decoration: none;
}
a:visited,a:hover{
    color: inherit;
}
li{
    text-decoration: none;
}

/*╔═══════════════╗
      VARIABILI
  ╚═══════════════╝*/

 :root{
    /*- COLORI TESTO -*/
    --colore-testo: #d2d2d2;
    --colore-testo-opaco: rgba(111, 111, 111, 0.85);
    --colore-testo-titolo: #ffffff;
    /*- COLORE BG -*/
    --colore-bg-aside: #000;
    --colore-bg-header: rgba(0, 0, 0, 0.5);
    --colore-bg-footer: #282828;
    --colore-bg-content: #141922;
    --colore-bg-primario: #fff;
    --colore-attivo: #adff2f;

    /*- DIMENSIONI GUTTER E SPAZIATURE-*/
    --gutter: 1em;
    --gutter-smal: 0.5em;
    --gutter-big: 2em;
    --spaziatura-section: 200px; 


}

/*╔═══════════════╗
       TYPO
  ╚═══════════════╝*/

 h2,h4{
    color: var(--colore-testo-titolo);
}


  
/*╔═══════════════╗
       COMMON
  ╚═══════════════╝*/

.hide{
    display: none;
}

section{
    margin-top: var(--gutter-big);
}

/*--- BUTTON ---*/

button{
    border: none;    
    background-color: transparent;
    color: var(--colore-testo-titolo);
}

.btn-big{
    border: 1px solid var(--colore-testo-titolo);
    padding: 10px 20px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

.btn-big:hover{
    transform: scale(1.05)
}



/*--- HOVER ---*/



ul li:hover {
    color:var(--colore-testo) ;
}



/*╔═══════════════╗
    TAG SEMANTICI
  ╚═══════════════╝*/

/*---- HEADER ---*/
header {
    background-color: var(--colore-bg-header);
    position: fixed;
    z-index: 10;
    width: calc(100% - 50px);
    top: 0;
    right: 0;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/*---- MAIN ---*/
main {
    display: flex;
    height: calc(100vh - 100px);
}

/*--- CONTENT ---*/
.content{
    padding: 0 20px;
    padding-top: 90px;
    background-color: var(--colore-bg-content);
    flex-grow: 1;
    overflow-y: auto;
}

.content nav {
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
}

.content nav ul li{
    display: inline-block;
    font-weight: bold;
    font-size: small;
    margin: 0 5px;
    position: relative;
}

.content nav ul li a{
    padding: 5px;
}

.content nav ul li a.active::after{
    content: "";
    background-color: #adff2f;
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 25px;
}

.content .row{
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    gap: 20px;
}

.content .row .card-song{
    width: calc(100% /2 - 10px);
}

.content .row .card-song .card-song-img{
    position: relative;
}

.content .row .card-song .card-song-img img{
    object-fit: cover;
    width: 100%;
}

.card-song .card-song-img .overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--colore-bg-header);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: var(--colore-testo-titolo);
    opacity: 0;
    /* transition: opacity 1s; */
}

.card-song:hover .card-song-img .overlay{
        opacity: 1;
}

.content .row .card-song .card-song-info{
    text-align: center;
    padding: 5px 0;
}

.content .row .card-song .card-song-info .titol{
    color: var(--colore-testo-titolo);
    font-weight: 700;
}

.content .row .card-song .card-song-info .autore{
    font-size: small;
    font-weight: 700;
    margin-top: 5px;
}

.card-song-img.circle{
    border-radius: 100%;
    overflow: hidden;
}




/*---- ASIDE ---*/

aside {
    background-color: var(--colore-bg-aside);
    width: 50px;
    padding-bottom: 10px; 
    /* width: 230px; */
    flex-shrink: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

aside img{
    display: block;
    width: 30px;
    height: 30px;
    margin: auto;
}

aside .logo{
    height: 80px;
    display: flex;
    align-items: center;
}

aside .logo .logo-sm{
    vertical-align: middle;
    height: 35px;
    width: 35px;
}
aside .logo-big{
    width: 100%;
}

aside nav ul{
    list-style: none;
}

aside nav ul li{
    margin-bottom: var(--gutter-smal);
}


aside nav ul li a{
    font-size: small;
    display: flex;
    align-items: center;
    gap: var(--gutter-smal);
}

.icona{
    height: 30px;
    width: 30px;
    fill: var(--colore-testo-opaco);
}



.select{
    color:var(--colore-testo-titolo);
    position: relative;
}

.select::after{
    content: "";
    background-color: var(--colore-attivo);
    position: absolute;
    height: 35px;
    width: 3px;
    left: -20px;
    top: 0px;
}
.select svg.icona{
    fill: var(--colore-testo-titolo);
}

aside nav ul li:hover svg.icona{
    fill: var(--colore-testo);
}

aside .user hr{
    margin: 10px 0;
    width: 200px;    
}

aside .user .user-top img{
    width: 20px;
    height: 20px;
    margin-bottom: var(--gutter-big)
}

aside .user .user-top:hover span{
    color: var(--colore-testo);
}

aside .user .user-bot,aside .user .user-top{
    display: flex;
    align-items: center;
    gap:var(--gutter-smal);
}

aside .user .user-bot span{
    color: var(--colore-testo-titolo);
    font-weight: 700;
}


aside .user .user-bot img{
    background-color: #808080;
    border-radius: 100%;
    overflow: hidden;
    width: 30px;
    height: 30px;
}

aside .playlist{
    margin-top: 10px;
    flex-grow:1;
    overflow-y: auto;
    width: 100%;
}

aside .playlist ul li{
    margin: 10px 0px;
    font-size: small;
}

aside .playlist ul li a i{ 
 font-size: 2rem ;
 vertical-align: middle;
 margin-right: 5px;
}


/*---- FOOTER ---*/

footer {
    background-color: var(--colore-bg-footer);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 25px;
}

footer i{
    color: var(--colore-testo);
}

footer i:hover{
    
}


footer .play-track{
    display: flex;
    align-items: center;
    gap: 10px;
}

footer .play-track .play-track-img {
    height: 45px;
}
footer .play-track-info-autor{
    font-weight: 700;
    color: var(--colore-bg-primario);
}
footer .play-track-info-titol{
    font-size: small;
}

footer .play-track-info-titol:hover{
    color: var(--colore-testo);
}


footer .play-track-button-list{
    color: var(--colore-testo-opaco);
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    margin-left: 25px;
}

footer .play-track-button-list i:hover{
    color: var(--colore-testo-titolo);
}

footer .media-player{
    width: 500px;
}

footer .media-player-top, footer .media-player-bot{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--colore-testo-titolo);
    font-weight: 700;
}

footer .media-player-bot{
    font-size: 0.75rem;
    margin: 10px 0;
    justify-content: none;
    gap: 10px;
}

footer .media-player-top{
    gap: 30px;
    font-size: 1rem;
}

footer .media-player-top .fa-circle-play{
    font-size: 2rem;
}

footer .media-player-top .fa-circle-play:hover{
    transform: scale(1.1);
}



footer .audio-device{
    width: 200px;
    display: flex;
    align-items: center;
    gap: 10px;
}

footer .barra{
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: var(--colore-testo-opaco);
}

footer .barra .inner{
    background-color: var(--colore-testo);
    width: 35%;
    position: relative;
}

footer .barra .inner:hover::after{
    content:"";
    background-color: var(--colore-testo);
    z-index: 10;
    display: block;
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    top: 50%;
    transform: translateY(-50%);
    right: -8px;
}

footer .barra:hover .inner{
    background-color: var(--colore-attivo);
}




@media screen and (min-width: 600px){
    header{
        width: calc(100% - 250px);
    }

    aside{
        padding: 0 20px 20px 20px;
        align-items: flex-start;
    }

    aside .logo-sm{
        display: none;
    }

    aside {
        width: 250px;
    }

    .hide{
        display: block;
    }

    aside img{
        margin: 0;
    }

    aside .user .user-top img{
        margin-bottom: 0;
    }
   
    
}


@media screen and (min-width: 700px){

    .content .row{
        gap: 10px;
    }

    .content .row .card-song{
        width: calc(100% /4 - 10px);
    }
  
}

@media screen and (min-width: 1100px){
    .content .row{
        gap: 10px;
    }

    
    .content .row .card-song{
        width: calc(100% / 6 - 10px);
    }

}