/*╔═══════════════╗
        RESET
  ╚═══════════════╝*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--- TESTO ---*/

body{
    color: var(--colore-testo);
    font-family: 'Montserrat', sans-serif;
}

p{
    font-size: 1rem;
}
small{
    font-size: 0.6rem;
}

/*--- TAG ---*/
a{
    color: inherit;
    text-decoration: none;
}
a:visited,a:hover{
    color: inherit;
}
li{
    text-decoration: none;
}
/*╔═══════════════╗
      VARIABILI
  ╚═══════════════╝*/

 :root{
    /*- COLORI -*/
    --colore-testo: #d2d2d2;
    --colore-testo-titolo: #000;
    --colore-bg-primario: #fff;

    /*- DIMENSIONI GUTTER E SPAZIATURE-*/
    --gutter: 1em;
    --gutter-smal: 0.5em;
    --gutter-big: 2em;
    --spaziatura-section: 200px; 


}

/*╔═══════════════╗
       DEBUG
  ╚═══════════════╝*/
  .debug header{
      background-color: aqua;
      min-height: 200PX;
  }

  .debug aside{
      background-color: black;
     
  }

  .debug .content{
      background-color: coral;
  }
  
  .debug footer{
      background-color: brown;
  }
  
/*╔═══════════════╗
       COMMON
  ╚═══════════════╝*/

  .hide{
      display: none;
  }



/*╔═══════════════╗
    TAG SEMANTICI
  ╚═══════════════╝*/

/*---- HEADER ---*/
header { 
    position: fixed;
    width: calc(100% - 230px);
    top: 0;
    right: 0;
}

/*---- MAIN ---*/
main {
    display: flex;
}

/*--- CONTENT ---*/
.content{
    flex-grow: 1;
}

/*---- ASIDE ---*/

aside {
    width: 50px;
    padding: 10px;
    /* width: 230px; */
    height: calc(100vh - 100px);
    flex-shrink: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: x-large;
    text-align: center;
}

aside .logo{
    margin-bottom: var(--gutter-smal);
}
aside nav ul{
    list-style: none;
}

aside nav ul li{
    margin-bottom: var(--gutter-smal);
}

/* regola >= reponsive 
aside .user hr{
    margin: 10px 0;
} */

aside .user .user-top{
    font-size: medium;
    margin-bottom: var(--gutter-smal);
}

aside .user .user-bot{
    font-size: xx-large;
}


/*---- FOOTER ---*/

footer {
    height: 100px;
    width: 100%;
}

